body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    width: 700px;
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 25px;
}

label {
    font-weight: bold;
}

input[type="file"],
textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Arial, sans-serif;
    font-size: 15px;
}

input[type="file"] {
    background-color: #fafafa;
    cursor: pointer;
}

textarea {
    height: 180px;
    resize: vertical;
}

.botoes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 700px;
    margin-top: 30px;
}

.botoes button {
    padding: 10px 20px;
    border: none;
    background-color:  #4b63aa;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

