body {
    align-items: center;
    height: 100vh;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}
.container {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    justify-content: center;  /* centraliza horizontal */
    margin-top: 50px;  
} 
.linha {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
} 
.botoes {
    display: flex;
    justify-content: space-between; /* esquerda e direita */
    margin-top: 20px;
}
.botoes input,
.botoes button {
    padding: 10px 20px;
    border: none;
    background-color: #4b63aa;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}
fieldset {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}