<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Material</title>
    <link rel="stylesheet" href="addMateriais.css">
</head>

<body>
    <img src="https://th.bing.com/th/id/R.b7e513ab9624989684162ee9f92e8a16?rik=NwdT6JD%2fLyvOPw&pid=ImgRaw&r=0" width="100"" class="img-canto">
    <div class="ladoalado">

    <div class="adicionar">
        <form>
        <div>
        <label for="titulo">Título do material:</label>
        <input type="text" id="titulo" placeholder="Ex: Resumo de Cinemática">
        </div>

        <div>
        <label for="arquivo">Selecione o arquivo:</label>
        <input type="file" id="arquivo">
        </div>
        
        <div>
        <label for="descricao">Descrição:</label>
        <textarea id="descricao" placeholder="Digite uma breve descrição do material"></textarea>
        </div>


        <div class="botoes">
            <a href="materiais.html">
                <button type="button">Voltar</button>
            </a>

            <button type="button">Adicionar</button>
        </div>
            </form>
    </div>
    </div>


</body>
</html>