<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="materiais.css" />
</head>
<body>
    <div class="ladoalado">
    <h2>Selecione conteúdo</h2>

    <div class="materias">
    <div>
            <input type="radio" name="origem" id="p1" required>
            <label for="p1">
                Cinemática
                <img src="https://i.pinimg.com/originals/6c/9e/ff/6c9eff35c5dfb4c3ddf3aeeeecc28993.png" width="100">
            </label>

            <input type="radio" name="origem" id="p2">
            <label for="p2">
                Dinâmica
                <img src="https://cdn-icons-png.flaticon.com/512/4231/4231022.png" width="105">
            </label>

            <input type="radio" name="origem" id="p3">
            <label for="p3">
                Gravitação
                <img src="https://cdn-icons-png.flaticon.com/512/5113/5113576.png" width="105">
            </label>

             <input type="radio" name="origem" id="p4">
            <label for="p4">
                Estática
                <img src="https://cdn-icons-png.flaticon.com/256/1184/1184115.png" width="105">
            </label>
        </div>

        <div>
            <input type="radio" name="origem" id="p5">
            <label for="p5">
                Hidrostática
                <img src="https://cdn-icons-png.magnific.com/256/15319/15319985.png?semt=ais_white_label" width="100">
            </label>

            <input type="radio" name="origem" id="p6">
            <label for="p6">
                Hidrodinâmica
                <img src="https://cdn-icons-png.flaticon.com/512/16812/16812854.png" width="100">
            </label>

            <input type="radio" name="origem" id="p7">
            <label for="p7">
                Termologia
                <img src="https://i.pinimg.com/originals/03/5d/c8/035dc8344abed69334148ed8867fb3f2.png?nii=t" width="105">
            </label>

            <input type="radio" name="origem" id="p8">
            <label for="p8">
                Ondulátoria
                <img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/additive-synthesis-7169670-5884996.png" width="100">
            </label>
        </div>

        <div>
            <input type="radio" name="origem" id="p9">
            <label for="p9">
                Movimento Harmônico Simples
                <img src="https://cdn-icons-png.flaticon.com/512/8649/8649369.png" width="80">
            </label>

            <input type="radio" name="origem" id="p10">
            <label for="p10">
                Óptica
                <img src="https://cdn-icons-png.flaticon.com/512/593/593516.png" width="100">
            </label>

            <input type="radio" name="origem" id="p11">
            <label for="p11">
                Eletrostática
                <img src="https://cdn-icons-png.flaticon.com/512/1467/1467187.png" width="100">
            </label>

            <input type="radio" name="origem" id="p12">
            <label for="p12">
                Eletrodinâmica
                <img src="https://cdn-icons-png.flaticon.com/512/8611/8611170.png" width="100">
            </label>
        </div>

         <div>
            <input type="radio" name="origem" id="p13">
            <label for="p13">
                Eletromagnetismo
                <img src="https://cdn-icons-png.flaticon.com/512/11158/11158850.png" width="100">
            </label>

            <input type="radio" name="origem" id="p14">
            <label for="p14">
                Física Moderna
                <img src="https://cdn-icons-png.flaticon.com/512/994/994195.png" width="100">
            </label>

            <input type="radio" name="origem" id="p15">
            <label for="p15">
                Análise Dimensional
                <img src="https://cdn-icons-png.flaticon.com/256/748/748962.png" width="100">
            </label>

        </div>
        </div>

    <div class="botoes">
    <a href="telaInicial.html">
    <button type="button">Voltar</button>
    </a>
    <a href="objetiva.html">
    <button type="button">Enviar</button>
    </a>
    </div>

</div>
</body>
</html>