<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="cadastro1.css" />
</head>
<body>

        <form>

    <div>
        <label for="arquivo">
            Selecione o arquivo que comprove sua formação (diploma, certificado...):
        </label>

        <input type="file" id="arquivo">
    </div>

    <div>
        <label for="descricao">Descrição:</label>

        <textarea id="descricao"
            placeholder="Solicite acesso indicando o motivo pelo qual gostaria de acessar a plataforma"></textarea>
    </div>

    <div class="botoes">

    <a href="cadastro.html">
        <button type="button">Voltar</button>
    </a>

    <a href="telaInicial.html">
        <button type="button">Enviar</button>
    </a>

</div>

</form>
</body>
</html>