{% extends "base.html" %}

{% block titulo %}Criar conta | IFísica{% endblock %}

{% block estilos %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cadastro.css') }}">
{% endblock %}

{% block conteudo %}
<div class="ladoalado">
    {% include "_marca.html" %}
    <h2>IFísica <br> para docentes</h2>
</div>

<form id="formCadastro" novalidate>
    <fieldset>
        <legend>Dados Pessoais</legend>

        <div>
            <label for="nome">Nome:</label>
            <input id="nome" name="nome" type="text" size="50" required>

            <label for="telefone">Telefone:</label>
            <input id="telefone" name="telefone" type="tel" required>
        </div>
        <br>

        <div>
            <label for="email">E-mail:</label>
            <input id="email" name="email" type="email" size="50" required>

            <label for="dataNasc">Data Nasc.:</label>
            <input id="dataNasc" name="dataNasc" type="date" required>
        </div>
        <br>

        <div>
            <label for="senha">Senha:</label>
            <input id="senha" name="senha" type="password" size="20"
                   minlength="6" required>
        </div>
        <br>

        <div>
            <label for="genero">Gênero:</label>
            <select id="genero" name="genero">
                <option value="">Selecione (opcional)</option>
                {% for codigo, rotulo in generos %}
                <option value="{{ codigo }}">{{ rotulo }}</option>
                {% endfor %}
            </select>
        </div>
        <br>

        <div id="campoAutodeclaracao" hidden>
            <label for="generoAutodeclarado">Como você se autodeclara:</label>
            <input id="generoAutodeclarado" name="generoAutodeclarado"
                   type="text" size="50" maxlength="120">
        </div>
        <br>

        <span id="aviso" class="aviso"></span>
    </fieldset>

    <div class="botoes">
        <a href="{{ url_for('pagina.index') }}">
            <button type="button">Voltar</button>
        </a>
        <input type="submit" value="Enviar">
    </div>
</form>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/cadastro.js') }}"></script>
{% endblock %}
