<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="encontrou.css" />
</head>
<body>
    <div class="ladoalado">
    <h2>Como você encontrou o IFísica?</h2>

    <div class="turma">
    <div>
            <input type="radio" name="origem" id="p1" required>
            <label for="p1">
                Outros professores
                <img src="https://www.pngkey.com/png/detail/587-5870729_graphic-royalty-free-stock-teacher-excellence-day-care.png" width="100">
            </label>

            <input type="radio" name="origem" id="p2">
            <label for="p2">
                Alunos
                <img src="https://tse1.mm.bing.net/th/id/OIP.N6Phgg_Ftypdrhy5wYdzTQHaHF?rs=1&pid=ImgDetMain&o=7&rm=3" width="105">
            </label>

            <input type="radio" name="origem" id="p3">
            <label for="p3">
                Redes sociais
                <img src="https://tse2.mm.bing.net/th/id/OIP.oqhLnjoyZt1zzM_979gxmAHaHa?rs=1&pid=ImgDetMain&o=7&rm=3" width="100">
            </label>
        </div>

        <div>
            <input type="radio" name="origem" id="p4">
            <label for="p4">
                Busca na internet
                <img src="https://img.freepik.com/vetores-premium/tecnologia-de-conexao-de-rede-de-internet-intranet-em-ilustracao-plana-de-desenhos-animados-mao-desenhada-modelo_2175-7758.jpg?w=1480" width="150">
            </label>

            <input type="radio" name="origem" id="p5">
            <label for="p5">
                Notícias
                <img src="https://img.freepik.com/vetores-premium/criancas-desenhando-desenho-animado-ilustracao-vetorial-icone-de-jornal-isolado-em-fundo-branco_760559-1300.jpg" width="100">
            </label>

            <input type="radio" name="origem" id="p6">
            <label for="p6">
                Outros...
                <img src="https://i.pinimg.com/originals/2d/38/19/2d3819178273ab7fa24dc3c0f508203d.png" width="100">
            </label>
        </div>
        </div>
    


        <div class="botoes">
        <a href="escolaridade.html">
        <button type="button">Voltar</button>
        </a>
        <form action="pagTurma.html">
            <input type="submit" value="Enviar">
        </form>
    </div>

</div>
</body>
</html>