<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="objetiva.css">
</head>

<body>
    <h1>Adicionar questão objetiva</h1>
    <div class="ladoalado">

    <form>

        <label for="pergunta">Enunciado:</label>
        <br>
        <textarea id="pergunta" rows="5" cols="60"></textarea>

        <br><br>

        <label>Alternativa A:</label>
        <input type="text">

        <br><br>

        <label>Alternativa B:</label>
        <input type="text">

        <br><br>

        <label>Alternativa C:</label>
        <input type="text">

        <br><br>

        <label>Alternativa D:</label>
        <input type="text">

        <br><br>

        <p>Resposta correta:</p>

        <input type="radio" name="resposta" id="a">
        <label for="a">A</label>

        <input type="radio" name="resposta" id="b">
        <label for="b">B</label>

        <input type="radio" name="resposta" id="c">
        <label for="c">C</label>

        <input type="radio" name="resposta" id="d">
        <label for="d">D</label>

        <br><br>

        <div class="botoes">
        <a href="adicionarAtividade.html"> 
        <button type="button">Voltar</button> 
        </a>
        <button type="button">Adicionar questão</button>
    </div>

    </form>

    <br>

    </div>
</body>
</html>